<%- include("partials/header.ejs") %>

<div class="container">
    <div class="search-container">
        <form action="/" method="post">
            <input type="text" placeholder="Type a Dish name here..." id="user-inp" name="meal" autocomplete="off">
            <button id="search-btn" type="submit">Search</button>
        </form>
    </div>

    <% if (error) { %>
        <p class="error-message"><%= error %></p>
    <% } %>

    <% if (data && data.meals) { %>
        <div class="recipe-list">
            <% data.meals.forEach(meal => { %>
                <div class="recipe-card">
                    <a href="/recipe/<%= meal.idMeal %>">
                        <img src="<%= meal.strMealThumb %>" alt="<%= meal.strMeal %>">
                        <h3><%= meal.strMeal %></h3>
                        <p><%= meal.strArea %> Cuisine</p>
                    </a>
                </div>
            <% }); %>
        </div>
    <% } %>
</div>

<%- include("partials/footer.ejs") %>
